.circle
    {
    width:10px;
    height:10px;
    border-radius:250px;
    font-size:20px;
    color:#fff;
    line-height:50px;
    text-align:center;
    background:rgb(31, 102, 160)
    }
    .dataNotFound{
    text-align:center;
    }
